body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.intro {
  display: flex;
  color: black;
  height: 100vh;
  position: absolute;
}

.typing {
  position: relative;
  margin-left: 10px;
}

.typing::after {
  content: "";
  position: absolute;
  width: 1px;
  right: -4px;
  top: 2px;
  height: 8%;
  border-right: 2px black solid;
  animation: blink 0.75s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
